---
import ProductCard from "../../components/product-card/index.astro";
import Layout from "../../layouts/Layout.astro";
// assets
import getAllProducts from "../../helpers/services/products/all";

export async function getStaticPaths({ paginate }) {
  const products = await getAllProducts();

  return paginate(products, {
    pageSize: 24,
  });
}
const { page } = Astro.props;
---

<Layout title={"Boutique"}>
  <main class="main-container js-main__container">
    <!-- hero section -->
    <div
      class="jumbotron jumbotron-fluid p-0 m-0 hero-image d-flex align-items-center justify-content-center"
    >
      <h1>Boutique</h1>
    </div>
    <!-- end of hero section -->
    <div class="container">
      <!-- breadcrumb menu -->
      <div class="row col-sm-12">
        <nav aria-label="breadcrumb p-1">
          <ol class="breadcrumb mb-0 bg-white pt-4 pb-4 pl-2 pl-lg-0">
            <li class="breadcrumb-item" aria-current="page">
              <a class="color-black" href="/">Accueil</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a class="color-black" href="#">Boutique</a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- end of breadcrumb menu -->

      <!-- shop container  -->
      <div class="row shop__product-list">
        <!-- product list -->
        <div class="col-sm-12">
          <!-- products cards list -->
          <div class="row mb-40px">
            <!-- product card item -->
            {
              page?.data?.map((product) => (
                <ProductCard
                  href={`/product/${product?.slug}/`}
                  name={product?.name}
                  regular_price={product?.regular_price}
                  sale_price={product?.sale_price}
                  image={product?.images?.[0].src}
                  class={`col-6 col-sm-4 col-lg-3`}
                />
              ))
            }
            <!-- end of product card item -->
          </div>
          <!-- end of products cards list -->

          <!-- pagination -->
          <nav aria-label="row">
            <ul
              class="pagination custom-pagination d-flex justify-content-end mb-40px"
            >
              {
                Array.from({ length: page.lastPage - 1 }).map((_, index) => {
                  const isActive = page.currentPage === index + 1;
                  return (
                    <li class={`page-item mr-10 ${isActive && "active"}`}>
                      <a
                        href={`/shop/${index + 1}/`}
                        class={`page-link border-green ${
                          isActive && "bg-green"
                        } p-2 text-center`}
                      >
                        {index + 1}
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                  );
                })
              }
              {
                page.lastPage > 1 && (
                  <li class="page-item mr-10">
                    <span class="page-dots border-green p-2 text-center">
                      ...
                    </span>
                  </li>
                )
              }
              <li
                class={`page-item mr-10 ${
                  page.lastPage === page.currentPage && "active"
                }`}
              >
                <a
                  href={`/shop/${page.lastPage}/`}
                  class={`page-link border-green ${
                    page.lastPage === page.currentPage && "bg-green"
                  } p-2 text-center`}
                >
                  {page.lastPage}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- end of pagination -->
        </div>
        <!-- end of product list -->
      </div>
      <!-- end of shop container  -->
    </div>
  </main>
  <!-- end main content -->
</Layout>
