---
import ProductCard from "../../components/product-card/index.astro";
import Picture from "../../components/picture/index.astro";
import Layout from "../../layouts/Layout.astro";
import Basket from "../../components/icons/basket.astro";
import ProductDetailsList from "../../components/product-details-list/index.astro";
import { getImageLink } from "../../helpers/images";
// assets
import getProducts from "../../helpers/services/products";
import { stripHTML } from "../../helpers/data";
import getSimilarProductsByCategories from "../../helpers/services/products/similar";
import "../../assets/css/ql.css";

const { slug } = Astro.params;
const [product] = await getProducts({
  slug,
  consumer_key: import.meta.env.WC_API_DEPLOY_CONSUMER_KEY,
  consumer_secret: import.meta.env.WC_API_DEPLOY_CONSUMER_SECRET,
});
const categories = product?.categories;
const similarProducts = await getSimilarProductsByCategories(
  categories?.[0].id
);

export async function getStaticPaths() {
  const products = await getProducts();
  const paths = products?.map((product) => ({
    params: {
      slug: decodeURIComponent(product.slug),
    },
  }));

  return paths;
}
---

<Layout
  title={product.name}
  description={stripHTML(product.short_description)}
  image={product?.images?.[0].src}
  extend={{
    link: [
      {
        rel: "preload",
        as: "image",
        href: getImageLink(product.images?.[0]?.src),
        type: "image/webp",
        // @ts-ignore
        fetchpriority: "high",
      },
      {
        rel: "preload",
        href: "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      }
    ],
  }}
>
  <main class="main-container js-main__container">
    <!-- main content -->
    <div class="container">
      <!-- breadcrumb menu -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 bg-white pv-34 pl-0 border-bottom-grey">
          <li class="breadcrumb-item" aria-current="page">
            <a class="color-black" href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a class="color-black" href="/shop/1/">Boutique</a>
          </li>
        </ol>
      </nav>
      <!-- end of breadcrumb menu -->

      <!-- product details  -->
      <div class="row mt-2 mt-lg-5 product-container">
        <!-- product images carousel -->
        <div class="col-sm-12">
          <div
            class="owl-carousel owl-theme owl-loaded overflow-hidden height-400px"
          >
            <div class="owl-stage-outer height-100 pr-3 pl-3">
              <div class="owl-stage height-100">
                {
                  product.images?.map((image, index) => (
                    <div class="owl-item height-100">
                      <div class="carousel-item height-100 d-flex align-items-center">
                        <Picture
                          class="card-img-top"
                          src={image.src}
                          alt={product.name}
                          class="w-100 h-100"
                          containerClass="w-100 h-100"
                          style="object-fit: contain;object-position: center;"
                          id={`product-image-${index}`}
                          sources={[
                            {
                              srcset: getImageLink(image.src),
                            },
                          ]}
                          loading={index === 0 ? "eager" : "lazy"}
                        />
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>

            <div
              class="owl-prev product-image__navigation-item bg-lightgrey d-flex justify-content-center align-items-center js-owl_navigation_prev"
              role="button"
              aria-label="precedant"
              aria-labelledby="precedant"
            >
              <svg width="14px" height="25px" viewBox="0 0 14 25">
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <path
                    d="M18.7515574,6.19589215 L18.3607845,5.80512031 C18.1020797,5.54641538 17.6837344,5.54641538 17.4250824,5.80512031 L6.66998881,16.5656973 L-4.09058878,5.80512031 C-4.34929365,5.54641538 -4.76758619,5.54641538 -5.02629106,5.80512031 L-5.41706292,6.19589215 C-5.67576785,6.45459704 -5.67576785,6.87294333 -5.41706292,7.13159453 L6.19665418,18.7508482 C6.45530554,19.0095539 6.87365151,19.0095539 7.13235629,18.7508482 L18.7460746,7.13159453 C19.0102622,6.87294333 19.0102622,6.45459704 18.7515574,6.19589215 L18.7515574,6.19589215 Z"
                    fill="#595959"
                    transform="translate(6.666901, 12.277992) scale(-1, 1) rotate(-90.000000) translate(-6.666901, -12.277992) "
                  >
                  </path>
                </g>
              </svg>
            </div>
            <div
              class="owl-next product-image__navigation-item bg-lightgrey d-flex justify-content-center align-items-center js-owl_navigation_next"
              role="button"
              aria-label="suivant"
              aria-labelledby="suivant"
            >
              <svg width="14px" height="25px" viewBox="0 0 14 25">
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <path
                    d="M18.7515498,6.19589978 L18.3607768,5.80512794 C18.1020721,5.54642301 17.6837268,5.54642301 17.4250747,5.80512794 L6.66998118,16.565705 L-4.0905964,5.80512794 C-4.34930127,5.54642301 -4.76759382,5.54642301 -5.02629869,5.80512794 L-5.41707054,6.19589978 C-5.67577548,6.45460467 -5.67577548,6.87295096 -5.41707054,7.13160216 L6.19664656,18.7508559 C6.45529791,19.0095615 6.87364388,19.0095615 7.13234866,18.7508559 L18.746067,7.13160216 C19.0102546,6.87295096 19.0102546,6.45460467 18.7515498,6.19589978 L18.7515498,6.19589978 Z"
                    fill="#595959"
                    transform="translate(6.666916, 12.278015) rotate(-90.000000) translate(-6.666916, -12.278015) "
                  >
                  </path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="border-bottom-grey">
            <div class="col-sm-12 offset-lg-2 col-lg-8">
              <div class="d-flex flex-column-reverse flex-lg-column">
                <div class="text-center">
                  <div class="product-def pb-4">
                    <div class="product__title-block mb-4 pt-3">
                      <h4 class="fs-12 color-light-black mb-1">
                        {product.categories?.[0]?.name}
                      </h4>
                      <h1 class="fs-24 color-light-black mb-0">
                        {product.name}
                      </h1>
                    </div>
                    <div class="product__price-block mb-4">
                      <div class="fs-24 color-green mb-1">
                        <sup>DZD</sup>{
                          product?.sale_price || product?.regular_price
                        }
                      </div>
                      {
                        !!product?.sale_price && (
                          <div class="fs-12 color-light-black mb-0">
                            <del>
                              <sup>DZD</sup>
                              {product?.regular_price}
                            </del>
                          </div>
                        )
                      }
                    </div>
                    <div
                      class="product__description color-light-black mb-0 ql-content"
                      set:html={product.description}
                    />
                    <div>
                      <h4 class="fs-12 color-light-black mb-1">
                        Dimensions et Poids
                      </h4>
                      <ProductDetailsList
                        height={product?.dimensions?.height}
                        width={product?.dimensions?.width}
                        length={product?.dimensions?.length}
                        weight={product?.weight}
                        sku={product?.sku}
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <form
            class="product-choice pt-3 pb-3 pt-lg-4 pb-lg-4 border-bottom-grey"
            action="#"
          >
            <div class="d-flex justify-content-center mb-4">
              <div
                class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3 mb-lg-0 mr-0 mr-lg-5"
              >
                <div class="text-left fs-14 pl-0">Colleurs</div>
                <div class="pl-0 pl-lg-3 text-left">
                  <label class="radio-button mb-0">
                    <input
                      type="radio"
                      class="radio-button__input"
                      id="choice1-1"
                      name="choice1"
                      checked
                    />
                    <span
                      class="radio-button__control"
                      style="background-color: #59ADFF; border-color: #59ADFF;"
                    ></span>
                  </label>
                  <label class="radio-button mb-0">
                    <input
                      type="radio"
                      class="radio-button__input"
                      id="choice1-1"
                      name="choice1"
                    />
                    <span
                      class="radio-button__control"
                      style="background-color: #FC4850; border-color: #FC4850;"
                    ></span>
                  </label>
                  <label class="radio-button mb-0">
                    <input
                      type="radio"
                      class="radio-button__input"
                      id="choice1-1"
                      name="choice1"
                    />
                    <span
                      class="radio-button__control"
                      style="background-color: #E88BFF; border-color: #E88BFF;"
                    ></span>
                  </label>
                </div>
              </div>
              <div
                class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3 mb-lg-0 mr-0 mr-lg-5"
              >
                <div class="text-left fs-14 pl-0">Tailles</div>
                <div class="pl-0 pl-lg-3 text-left">
                  <div
                    class="d-block border-green rounded-0 max-width-110px min-width-110px height-36 overflow-hidden"
                  >
                    <select
                      class="form-control no-border bg-white d-block color-green d-block width-100"
                    >
                      <option selected="">XXL</option>
                      <option>XL</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-center">
              <div
                class="action-form__container bg-white d-flex flex-column flex-lg-row justify-content-between align-items-center z-index_2"
              >
                <div class="pl-0 pl-lg-3 w-100">
                  <div
                    class="d-flex flex-row justify-content-start justify-content-sm-between align-items-center"
                    style={"gap: 16px"}
                  >
                    <div
                      class="quantity-form__container d-flex flex-row align-items-center"
                    >
                      <label class="d-block text-left fs-14 pl-0 mr-3 mb-0">
                        Qte
                      </label>
                      <div
                        class="quantity-container mb-0 mb-sm-0 mr-0 mr-lg-5 input-group border-green rounded-0 overflow-hidden max-width-110px"
                      >
                        <div class="input-group-prepend">
                          <button
                            class="input-group-text bg-transparent color-green no-border"
                            aria-label="moin"
                          >
                            -
                          </button>
                        </div>
                        <input
                          type="text"
                          class="form-control no-border color-green text-center"
                          value="01"
                          aria-label="Quantite"
                        />
                        <div class="input-group-append">
                          <button
                            class="input-group-text bg-transparent color-green no-border"
                            aria-label="plus">+</button
                          >
                        </div>
                      </div>
                    </div>
                    <div
                      class="btns-form__container d-flex mt-0 mt-md-3 mt-lg-0"
                    >
                      <button
                        class="btn bg-green flex_1 color-white btn-block no-border rounded-0 pt-2 pb-2 width-180px fs-14 animation-pulse"
                        aria-label="Acheter maintenant"
                      >
                        Acheter maintenant
                      </button>
                      <button
                        class="btn btn-outline-success color-white w-auto rounded-0 pt-2 pb-2 width-180px"
                        aria-label="Ajouter au panier"
                      >
                        <Basket color="#8BC540" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end of product images carousel -->
      </div>
      <!-- end of product details  -->

      <!-- similar products -->
      <div class="row mt-30px">
        <div class="fs-24 col-sm-12">
          <h1 class="fs-24 color-black">Tu pourrais aussi aimer</h1>
          <h2 class="fs-14">
            <a class="color-black" href={`/category/${categories?.[0].slug}/`}>
              Voir tout
            </a>
          </h2>
        </div>
      </div>
      <div class="shop__product-list row mb-60px">
        <!-- product card item -->
        {
          similarProducts.map((currentProduct) => {
            if (product?.slug !== currentProduct?.slug) {
              return (
                <ProductCard
                  href={`/product/${currentProduct?.slug}/`}
                  name={currentProduct?.name}
                  regular_price={currentProduct?.regular_price}
                  sale_price={currentProduct?.sale_price}
                  image={currentProduct.images[0].src}
                />
              );
            }
            return null;
          })
        }
        <!-- end of product card item -->
      </div>
      <!-- end similar products -->
    </div>
    <!-- end main content -->
  </main>
</Layout>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  // initialize owl carousel
  var $owl = $(".owl-carousel");
  $owl.owlCarousel({
    loop: false,
    margin: 20,
    responsiveClass: true,
    dotsClass: "hidden",
    dots: false,
    nav: false,
    autoplay: true,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 2,
      },
      1000: {
        items: 3,
      },
    },
  });

  // handle navigation using arrow previous and next
  // Go to the next item
  $(".js-owl_navigation_next").click(function () {
    $owl.trigger("next.owl.carousel");
  });
  // Go to the previous item
  $(".js-owl_navigation_prev").click(function () {
    $owl.trigger("prev.owl.carousel");
  });
</script>
