---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navbar/index.astro";
import httpRequest from "../helpers/http";
// images
import HeroImage from "../assets/images/home-carousel.png";
import TabPRoductImg from "../assets/images/product.png";
import TabPRoductImg1 from "../assets/images/product-2.png";
import Cat1 from "../assets/images/long-cheer-right.png";
import Cat2 from "../assets/images/left-cheer-thik.png";
import Cat3 from "../assets/images/cheer-skyblue.png";
---

<Layout title="Welcome to Astro.">
	<NavBar />
	<main class="main-container js-main__container">
		<!-- carousel section -->
		<div
			class="jumbotron jumbotron-fluid p-0 m-0 carousel-image bg-skyblue p-20px"
		>
			<div class="container">
				<div
					class="owl-carousel owl-theme owl-loaded overflow-hidden height-400px p-20px"
				>
					<div class="owl-stage-outer height-100 pr-0 pr-md-3 pl-0 pl-md-3">
						<div class="owl-stage height-100">
							<!-- carousel item -->
							<div class="owl-item height-100">
								<div
									class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
								>
									<div class="image__block flex-1">
										<img
											src={HeroImage}
											class="img-fluid"
											alt="product title"
										/>
									</div>
									<div class="flex-1 row">
										<div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
											<div class="pl-2">
												<h3
													class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24"
												>
													Display place holder
												</h3>
												<h1
													class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2"
												>
													Apple Ipad pro
												</h1>
												<div
													class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
												>
													<span class="color-black-2">
														<sup>DA</sup>150 000, 00
													</span>
													<span class="color-darkgrey fs-12">
														<del><sup>DA</sup>150 000, 00</del>
													</span>
												</div>
												<a
													href="/"
													class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
													>Button</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of carousel item -->

							<div class="owl-item height-100">
								<div
									class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
								>
									<div class="image__block flex-1">
										<img
											src={HeroImage}
											class="img-fluid"
											alt="product title"
										/>
									</div>
									<div class="flex-1 row">
										<div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
											<div class="pl-2">
												<h3
													class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24"
												>
													Display place holder
												</h3>
												<h1
													class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2"
												>
													Apple Ipad pro
												</h1>
												<div
													class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
												>
													<span class="color-black-2">
														<sup>DA</sup>150 000, 00
													</span>
													<span class="color-darkgrey fs-12">
														<del><sup>DA</sup>150 000, 00</del>
													</span>
												</div>
												<a
													href="/"
													class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
													>Button</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="owl-item height-100">
								<div
									class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
								>
									<div class="image__block flex-1">
										<img
											src={HeroImage}
											class="img-fluid"
											alt="product title"
										/>
									</div>
									<div class="flex-1 row">
										<div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
											<div class="pl-2">
												<h3
													class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24"
												>
													Display place holder
												</h3>
												<h1
													class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2"
												>
													Apple Ipad pro
												</h1>
												<div
													class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
												>
													<span class="color-black-2">
														<sup>DA</sup>150 000, 00
													</span>
													<span class="color-darkgrey fs-12">
														<del><sup>DA</sup>150 000, 00</del>
													</span>
												</div>
												<a
													href="/"
													class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
													>Button</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of carousel section -->

		<div class="container">
			<div class="row mb-108px">
				<!-- featured products -->
				<div class="col-sm-12 mt-40px mb-40px">
					<!-- products cards list -->
					<div class="row discover__products-container">
						<div class="fs-24 col-sm-12 mb-3">
							<h1 class="fs-24 color-black">Top produits</h1>
							<h2 class="fs-14 color-black">Promotion limitée</h2>
						</div>

						<div class="col-sm-12">
							<div class="row">
								<div class="mb-40px col-12 col-sm-4 no-border no-underline">
									<a
										href="/prod"
										class="card card-product bg-lightwhite no-underline overflow-y-hidden no-border rounded-0"
									>
										<img
											class="card-img-top"
											src={TabPRoductImg1}
											alt="product name"
										/>
										<div class="card-body p-0">
											<div
												class="card-body__wrapper p-3 bg-transparent radius-0-5"
											>
												<h5
													class="fs-12 color-darkgrey mb-0 text-truncate card__sub-title"
												>
													Display title
												</h5>
												<h5
													class="card-title color-black-2 mb-3 text-truncate fs-18"
												>
													Product title
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>

								<div class="mb-40px col-12 col-sm-4 no-border no-underline">
									<a
										href="/prod"
										class="card card-product bg-lightwhite no-underline overflow-y-hidden no-border rounded-0"
									>
										<img
											class="card-img-top"
											src={TabPRoductImg1}
											alt="product name"
										/>
										<div class="card-body p-0">
											<div
												class="card-body__wrapper p-3 bg-transparent radius-0-5"
											>
												<h5
													class="fs-12 color-darkgrey mb-0 text-truncate card__sub-title"
												>
													Display title
												</h5>
												<h5
													class="card-title color-black-2 mb-3 text-truncate fs-18"
												>
													Product title
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>

								<div class="mb-40px col-12 col-sm-4 no-border no-underline">
									<a
										href="/prod"
										class="card card-product bg-lightwhite no-underline overflow-y-hidden no-border rounded-0"
									>
										<img
											class="card-img-top"
											src={TabPRoductImg1}
											alt="product name"
										/>
										<div class="card-body p-0">
											<div
												class="card-body__wrapper p-3 bg-transparent radius-0-5"
											>
												<h5
													class="fs-12 color-darkgrey mb-0 text-truncate card__sub-title"
												>
													Display title
												</h5>
												<h5
													class="card-title color-black-2 mb-3 text-truncate fs-18"
												>
													Product title
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end of products cards list -->
				</div>
				<!-- end of featured product -->

				<!-- product list inside tabs -->
				<nav class="products-tabs col-sm-12">
					<div class="nav nav-tabsd-flex tabs__nav" id="nav-tab" role="tablist">
						<div class="flex-1">
							<h1 class="fs-24 color-black">Vente flash</h1>
							<h2 class="fs-14 color-black">Promotion limitée</h2>
						</div>
						<a
							class="nav-item nav-link color-black-2 fs-14 active"
							id="nav-home-tab"
							data-toggle="tab"
							href="#nav-collection"
							role="tab">COLLECTION</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-profile-tab"
							data-toggle="tab"
							href="#nav-display-1"
							role="tab">DISPLAY TITLE</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-contact-tab"
							data-toggle="tab"
							href="#nav-display-2"
							role="tab">DISPLAY TITLE</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-contact-tab"
							data-toggle="tab"
							href="#nav-all"
							role="tab">ALL</a
						>
					</div>
				</nav>
				<div class="col-sm-12 tab-content mb-40px" id="nav-tabContent">
					<div
						class="tab-pane fade shop__product-list show active"
						id="nav-collection"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-display-1"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-display-2"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg1}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-all"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
							<!-- product card item -->
							<div class="col-6 col-md-4 col-lg-3 overflow-hidden">
								<div
									class="card card-product overflow-y-hidden no-border bg-lightwhite rounded-0"
								>
									<img
										class="card-img-top"
										src={TabPRoductImg}
										alt="product name"
									/>
									<div class="card-body p-0 bg-white">
										<div class="card-body__wrapper bg-white radius-0-5">
											<button
												href="/product"
												class="card__action btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1 mb-1 mb-md-3 d-none"
												>Button</button
											>
											<div class="pl-3 pr-3 pb-3 pt-0">
												<h5 class="fs-12 color-darkgrey mb-0 text-truncate">
													Electronics
												</h5>
												<h5 class="card-title color-black-2 mb-3 text-truncate">
													Apple new Airpods
												</h5>
												<div class="card-text">
													<div
														class="d-flex flex-column flex-md-row justify-content-between mb-3"
													>
														<div class="pricing-container d-flex flex-column">
															<span class="color-black-2">
																<sup>DA</sup>150 000, 00
															</span>
															<span class="color-darkgrey fs-12">
																<del><sup>DA</sup>150 000, 00</del>
															</span>
														</div>
														<div class="">
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																	checked=""
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #59ADFF; border-color: #59ADFF;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #FC4850; border-color: #FC4850;"
																></span>
															</label>
															<label class="radio-button mb-0">
																<input
																	type="radio"
																	class="radio-button__input"
																	id="choice1-1"
																	name="choice1"
																/>
																<span
																	class="radio-button__control"
																	style="background-color: #E88BFF; border-color: #E88BFF;"
																></span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of product card item -->
						</div>
					</div>
				</div>
				<!-- end of product list inside tabs -->

				<!-- flash vente -->
				<div class="col-sm-12 mb-40px">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="fs-24 color-black">Vente flash</h1>
							<h2 class="fs-14 color-black">Promotion limitée</h2>
							<div
								class="height-224px bg-orange-dark shop__hero_top bg-long-cheer_right bg-cover p-20px d-flex align-items-center"
								style={`background-image: url(${Cat1})`}
							>
								<div class="col-sm-12 col-md-6 col-lg-4 pr-0 pl-0">
									<h3 class="mb-3 color-black-2 fs-24 mt-1 width-180px">
										Product place hoder
									</h3>
									<p class="mb-3 color-black-2 col-sm-12 col-md-9 pl-0 fs-14">
										Lorem ipsum dolor sit amet, mel virtute feugiat an.
									</p>
									<div class="d-flex flex-column flex-sm-row align-items-start">
										<ul
											class="pagination custom-pagination d-flex justify-content-end mr-60px"
										>
											<li class="page-item mr-10 active">
												<span
													class="page-link border-green bg-green p-2 text-center"
												>
													12
												</span>
											</li>
											<li class="page-item mr-10 active">
												<span
													class="page-link border-green bg-green p-2 text-center"
												>
													12
												</span>
											</li>
											<li class="page-item mr-10 active">
												<span
													class="page-link border-green bg-green p-2 text-center"
												>
													12
												</span>
											</li>
										</ul>
										<a
											href="/"
											class="height-32 btn-link border-green radius-2 p-1 pl-5 pr-5 color-green color-green_hover no-underline custom-btn"
											>Button</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end of flash vente -->

				<!-- flash vente -->
				<div class="col-sm-12 mb-40px">
					<div class="row">
						<div class="col-sm-12 col-lg-6 pr-lg-0">
							<div
								class="height-370px bg-orange-dark shop__hero_top bg-cheer_left_thik bg-cover p-20px d-flex align-items-center"
								style={`background-image: url(${Cat2})`}
							>
								<div
									class="col-sm-12 offset-md-6 col-md-6 offset-md-6 col-lg-6 pr-0 pl-0 text-right"
								>
									<h3 class="pl-3 mb-3 color-black-2 fs-25">
										Product place hoder
									</h3>
									<p class="pl-3 mb-3 color-black-2">
										Lorem ipsum dolor sit amet, mel virtute feugiat an.
									</p>
									<div class="d-flex justify-content-center">
										<a
											href="/"
											class="height-32 btn-link border-green radius-2 p-1 pl-5 pr-5 color-green color-green_hover no-underline custom-btn"
											>Button</a
										>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-6 pl-lg-0">
							<div
								class="height-370px bg-skyblue-2 bg-image_skyblue p-20px bg-position-right bg-contain d-flex align-items-center"
								style={`background-image: url(${Cat3})`}
							>
								<div class="col-sm-12 col-md-6 col-lg-6 pr-0 pl-0">
									<h3 class="pr-3 mb-3 color-black-2 fs-25">
										Product place hoder
									</h3>
									<p class="pr-3 mb-3 color-black-2">
										Lorem ipsum dolor sit amet, mel virtute feugiat an.
									</p>
									<a
										href="/"
										class="btn-link border-green radius-2 p-1 pl-5 pr-5 color-green color-green_hover no-underline custom-btn"
										>Button</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end of flash vente -->
			</div>
		</div>
	</main>
</Layout>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
	integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script>
	// initialize owl carousel
	var $owl = $(".owl-carousel");
	$owl.owlCarousel({
		loop: false,
		margin: 20,
		responsiveClass: true,
		dots: true,
		dotsClass: "carousel__dots-block",
		dotClass: "carousel__dot radius-2",
		nav: false,
		autoplay: false,
		autoplayHoverPause: true,
		items: 1,
	});
</script>
