---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/product-card/index.astro";
import ProductCardWithShadow from "../components/product-card-with-shadow/index.astro";
// images
import Cat2 from "../assets/images/left-cheer-thik.png";
import Cat3 from "../assets/images/cheer-skyblue.png";
import getStorePageByType from "../helpers/services/pages/by-type";
import getNewArrivals from "../helpers/services/products/new";
import getCategories from "../helpers/services/products/categories";
// helpers
const pageData = await getStorePageByType("home");
const newProducts = await getNewArrivals(3);
const newCategories = await getCategories();
---

<!-- todo: cache requests -->
<Layout title={pageData?.title || ""}>
	<main class="main-container js-main__container">
		<!-- carousel section -->
		<div
			class="jumbotron jumbotron-fluid p-0 m-0 carousel-image bg-skyblue p-20px overflow-hidden d-flex"
			style={`background-image: url(${pageData?.featured_media}); min-height: 350px;background-repeat: no-repeat; background-size: cover;`}
		>
			<div class="container">
				<div
					class="h-100 d-flex flex-column justify-content-center align-items-center"
				>
					<a
						href={"/shop/"}
						class="card__action btn bg-green color-white btn-block no-border rounded-0 w-auto px-5 py-3"
					>
						acheter maintenant
					</a>
				</div>
			</div>
		</div>
		<!-- end of carousel section -->

		<div class="container">
			<div class="row mb-108px">
				<!-- featured products -->
				<div class="col-sm-12 mt-40px mb-40px">
					<!-- products cards list -->
					<div class="row discover__products-container">
						<div class="fs-24 col-sm-12 mb-3">
							<h1 class="fs-24 color-black">Nouveaux arrivants</h1>
							<h2 class="fs-14">
								<a class="color-black" href={"/shop/1/"}>Voir tout</a>
							</h2>
						</div>

						<div class="col-sm-12">
							<div class="row">
								{
									newProducts.map((product) => (
										<div class="mb-40px col-12 col-sm-4 no-border no-underline">
											<ProductCardWithShadow
												href={`/product/${product.slug}/`}
												name={product.name}
												regular_price={product.regular_price}
												sale_price={product.sale_price}
												image={product.images[0]}
											/>
										</div>
									))
								}
							</div>
						</div>
					</div>
					<!-- end of products cards list -->
				</div>
				<!-- end of featured product -->

				<!-- product list inside tabs -->
				<nav class="products-tabs col-sm-12">
					<div class="nav nav-tabsd-flex tabs__nav" id="nav-tab" role="tablist">
						<div class="flex-1">
							<h1 class="fs-24 color-black">Vente flash</h1>
							<h2 class="fs-14 color-black">Promotion limitée</h2>
						</div>
						<a
							class="nav-item nav-link color-black-2 fs-14 active"
							id="nav-home-tab"
							data-toggle="tab"
							href="#nav-collection"
							role="tab">COLLECTION</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-profile-tab"
							data-toggle="tab"
							href="#nav-display-1"
							role="tab">DISPLAY TITLE</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-contact-tab"
							data-toggle="tab"
							href="#nav-display-2"
							role="tab">DISPLAY TITLE</a
						>
						<a
							class="nav-item nav-link color-black-2 fs-14"
							id="nav-contact-tab"
							data-toggle="tab"
							href="#nav-all"
							role="tab">ALL</a
						>
					</div>
				</nav>
				<div class="col-sm-12 tab-content mb-40px" id="nav-tabContent">
					<div
						class="tab-pane fade shop__product-list show active"
						id="nav-collection"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							{
								Array.from({ length: 8 }).map((_, index) => (
									<ProductCard
										name={`Apple new Airpods`}
										regular_price={150000}
										sale_price={140000}
										image={
											index % 3
												? newProducts[2].images[0].src
												: index % 2
												? newProducts[1].images[0].src
												: newProducts[0].images[0].src
										}
									/>
								))
							}
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-display-1"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							{
								Array.from({ length: 4 }).map((_, index) => (
									<ProductCard
										name={`Apple new Airpods`}
										regular_price={150000}
										sale_price={140000}
										image={
											index % 3
												? newProducts[2].images[0].src
												: index % 2
												? newProducts[1].images[0].src
												: newProducts[0].images[0].src
										}
									/>
								))
							}
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-display-2"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							{
								Array.from({ length: 3 }).map((_, index) => (
									<ProductCard
										name={`Apple new Airpods`}
										regular_price={150000}
										sale_price={140000}
										image={
											index % 3
												? newProducts[2].images[0].src
												: index % 2
												? newProducts[1].images[0].src
												: newProducts[0].images[0].src
										}
									/>
								))
							}
							<!-- end of product card item -->
						</div>
					</div>
					<div
						class="tab-pane fade shop__product-list"
						id="nav-all"
						role="tabpanel"
					>
						<div class="row">
							<!-- product card item -->
							{
								Array.from({ length: 6 }).map((_, index) => (
									<ProductCard
										name={`Apple new Airpods`}
										regular_price={150000}
										sale_price={140000}
										image={
											index % 3
												? newProducts[2].images[0].src
												: index % 2
												? newProducts[1].images[0].src
												: newProducts[0].images[0].src
										}
									/>
								))
							}
							<!-- end of product card item -->
						</div>
					</div>
				</div>
				<!-- end of product list inside tabs -->

				<!-- flash vente -->
				<div class="col-sm-12 mb-40px">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="fs-24 color-black mb-3">Nouvelle collection</h1>
							<div class="row">
								{
									!!newCategories?.[0] && (
										<div class="col-sm-12 col-lg-6 pr-lg-0">
											<div
												class="height-370px bg-orange-dark shop__hero_top bg-cheer_left_thik bg-cover p-20px d-flex align-items-center"
												style={`background-image: url(${Cat2})`}
											>
												<div class="col-sm-12 offset-md-6 col-md-6 offset-md-6 col-lg-6 pr-0 pl-0 text-right">
													<h3 class="pl-3 mb-3 color-black-2 fs-25">
														{newCategories[0]?.name}
													</h3>
													<p class="pl-3 mb-3 color-black-2">
														{newCategories[0]?.description}
													</p>
													<div class="d-flex justify-content-end">
														<a
															href={`/category/${newCategories[0]?.slug}/`}
															class="height-32 btn-link border-green radius-2 p-1 pl-5 pr-5 color-green color-green_hover no-underline custom-btn"
														>
															Voir
														</a>
													</div>
												</div>
											</div>
										</div>
									)
								}
								{
									!!newCategories?.[1] && (
										<div class="col-sm-12 col-lg-6 pl-lg-0">
											<div
												class="height-370px bg-skyblue-2 bg-image_skyblue p-20px bg-position-right bg-contain d-flex align-items-center"
												style={`background-image: url(${Cat3})`}
											>
												<div class="col-sm-12 col-md-6 col-lg-6 pr-0 pl-0">
													<h3 class="pr-3 mb-3 color-black-2 fs-25">
														{newCategories[1]?.name}
													</h3>
													<p class="pr-3 mb-3 color-black-2">
														{newCategories[1]?.description}
													</p>
													<a
														href={`/category/${newCategories[1]?.slug}/`}
														class="btn-link border-green radius-2 p-1 pl-5 pr-5 color-green color-green_hover no-underline custom-btn"
													>
														Voir
													</a>
												</div>
											</div>
										</div>
									)
								}
							</div>
						</div>
					</div>
				</div>
				<!-- end of flash vente -->
			</div>
		</div>
	</main>
</Layout>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
	integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script>
	// initialize owl carousel
	var $owl = $(".owl-carousel");
	$owl.owlCarousel({
		loop: false,
		margin: 20,
		responsiveClass: true,
		dots: true,
		dotsClass: "carousel__dots-block",
		dotClass: "carousel__dot radius-2",
		nav: false,
		autoplay: false,
		autoplayHoverPause: true,
		items: 1,
	});
</script>
