---
import Picture from "../picture/index.astro";
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Linkedin from "../icons/linkedin.astro";
import Snapchat from "../icons/snapchat.astro";
import Tiktok from "../icons/tiktok.astro";
import Twitter from "../icons/twitter.astro";
import Youtube from "../icons/youtube.astro";

export interface Props {
  name?: string;
  socialMedia?: any;
  logo: {
    src: string;
    webp: string;
  } | null;
  pages?: Record<string, string>[];
  categories: Record<string, string>[];
  contacts?: {
    phone?: string;
    email?: string;
  } | null;
}

const { name: storeName, logo, categories, pages, socialMedia } = Astro.props;
---

<nav class="mobile-menu__container bg-dark sidebar-nav p-3 js-mobile__menu">
  <div class="mobile-menu__block">
    <button
      type="button"
      class="close p-2 fw-300 js-mobile__menu-closer"
      aria-label="Close"
    >
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <a href="/"
    ><Picture
      src={logo?.src}
      sources={[
        {
          srcset: logo?.webp,
        },
      ]}
      loading={"lazy"}
      decoding={"async"}
      alt={storeName}
      height={50}
    />
  </a>
  <div id="accordion" class="mt-3">
    <div class="card accordion-item no-border">
      <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
        <h5 class="mb-0 border-bottom-grey fw-300">
          <a
            href="/"
            class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
          >
            Accueil
          </a>
        </h5>
      </div>
    </div>
    <div class="card accordion-item no-border">
      <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
        <h5 class="mb-0 border-bottom-grey fw-300">
          <a
            href="/shop/1/"
            class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
          >
            Boutique
          </a>
        </h5>
      </div>
    </div>
    {
      categories?.length > 0 && (
        <div class="card accordion-item no-border">
          <div class="card-header pl-0 pr-0 pt-0 pb-0" id="heading2">
            <h5 class="mb-0 border-bottom-grey fw-300">
              <button
                class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
                data-toggle="collapse"
                data-target="#collapse2"
                aria-expanded="true"
                aria-controls="collapse2"
              >
                Catégories
              </button>
            </h5>
          </div>
          <div
            id="collapse2"
            class="collapse"
            aria-labelledby="heading2"
            data-parent="#accordion"
          >
            <div class="card-body pl-0 pr-0 pt-1 pb-0 border-bottom-grey">
              <ul class="pl-0 pr-0">
                {categories?.map((category) => (
                  <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
                    <a href={`/category/${category?.slug}/`}>
                      {category?.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      )
    }
    {
      pages?.map((page) => (
        <div class="card accordion-item no-border">
          <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
            <h5 class="mb-0 border-bottom-grey fw-300">
              <a
                href={`/${page?.slug}/`}
                class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
              >
                {page?.title}
              </a>
            </h5>
          </div>
        </div>
      ))
    }
  </div>
  <div class="social-media d-flex pt-2 justify-content-center">
    {
      !!socialMedia?.store_facebook && (
        <div class="mr-2">
          <a href={socialMedia?.store_facebook} class="icon">
            <Facebook />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_instagram && (
        <div class="mr-2">
          <a href={socialMedia?.store_instagram} class="icon">
            <Instagram />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_tiktok && (
        <div class="mr-2">
          <a href={socialMedia?.store_tiktok} class="icon">
            <Tiktok />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_youtube && (
        <div class="mr-2">
          <a href={socialMedia?.store_youtube} class="icon">
            <Youtube />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_twitter && (
        <div class="mr-2">
          <a href={socialMedia?.store_twitter} class="icon">
            <Twitter />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_snapchat && (
        <div class="mr-2">
          <a href={socialMedia?.store_snapchat} class="icon">
            <Snapchat />
          </a>
        </div>
      )
    }
    {
      !!socialMedia?.store_linkedin && (
        <div class="mr-2">
          <a href={socialMedia?.store_linkedin} class="icon">
            <Linkedin />
          </a>
        </div>
      )
    }
  </div>
</nav>
<div class="mobile-menu__overlay js-mobile__overlay bg-lightgrey"></div>
