---
import globalLinks from "../../config/links";
import { getStoreDetails } from "../../helpers/services/store/details";
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Linkedin from "../icons/linkedin.astro";
import Snapchat from "../icons/snapchat.astro";
import Tiktok from "../icons/tiktok.astro";
import Twitter from "../icons/twitter.astro";
import Youtube from "../icons/youtube.astro";

const websiteDetails = await getStoreDetails(globalLinks.website);
const { store_social_media } = websiteDetails?.store_primary_settings;
---

<nav class="mobile-menu__container bg-dark sidebar-nav p-3 js-mobile__menu">
  <div class="mobile-menu__block">
    <button
      type="button"
      class="close p-2 fw-300 js-mobile__menu-closer"
      aria-label="Close"
    >
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <div id="accordion">
    <div class="card accordion-item no-border">
      <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
        <h5 class="mb-0 border-bottom-grey fw-300">
          <button
            class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Home
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body pl-0 pr-0 pt-1 pb-0 border-bottom-grey">
          <ul class="pl-0 pr-0">
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">01-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">02-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">03-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">04-Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card accordion-item no-border">
      <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
        <h5 class="mb-0 border-bottom-grey fw-300">
          <button
            class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
            data-toggle="collapse"
            data-target="#collapse2"
            aria-expanded="true"
            aria-controls="collapse2"
          >
            sHop
          </button>
        </h5>
      </div>
      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="heading2"
        data-parent="#accordion"
      >
        <div class="card-body pl-0 pr-0 pt-1 pb-0 border-bottom-grey">
          <ul class="pl-0 pr-0">
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">01-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">02-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">03-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">04-Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card accordion-item no-border">
      <div class="card-header pl-0 pr-0 pt-0 pb-0" id="headingOne">
        <h5 class="mb-0 border-bottom-grey fw-300">
          <button
            class="accordion-item__toggler btn text-left pl-0 pr-0 color-white text-uppercase btn-block"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="true"
            aria-controls="collapse3"
          >
            Product
          </button>
        </h5>
      </div>
      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body pl-0 pr-0 pt-1 pb-0 border-bottom-grey">
          <ul class="pl-0 pr-0">
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">01-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">02-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">03-Link</a>
            </li>
            <li class="text-left pb-1 fw-300 pt-1 accordion__list-item">
              <a href="/">04-Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="social-media d-flex pt-2 justify-content-center">
    {
      !!store_social_media?.store_facebook && (
        <div class="mr-2">
          <a href={store_social_media?.store_facebook} class="icon">
            <Facebook />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_instagram && (
        <div class="mr-2">
          <a href={store_social_media?.store_instagram} class="icon">
            <Instagram />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_tiktok && (
        <div class="mr-2">
          <a href={store_social_media?.store_tiktok} class="icon">
            <Tiktok />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_youtube && (
        <div class="mr-2">
          <a href={store_social_media?.store_youtube} class="icon">
            <Youtube />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_twitter && (
        <div class="mr-2">
          <a href={store_social_media?.store_twitter} class="icon">
            <Twitter />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_snapchat && (
        <div class="mr-2">
          <a href={store_social_media?.store_snapchat} class="icon">
            <Snapchat />
          </a>
        </div>
      )
    }
    {
      !!store_social_media?.store_linkedin && (
        <div class="mr-2">
          <a href={store_social_media?.store_linkedin} class="icon">
            <Linkedin />
          </a>
        </div>
      )
    }
    <!-- // <div class="mr-2">
    //   <a href="" class="icon"
    //     ><img src="../assets/images/icons/facebook-green.svg" alt="" /></a
    //   >
    // </div>
    // <div class="mr-2">
    //   <a href="" class="icon"
    //     ><img src="../assets/images/icons/youtube-grey.svg" alt="" /></a
    //   >
    // </div>
    // <div class="mr-2">
    //   <a href="" class="icon"
    //     ><img src="../assets/images/icons/instagram-grey.svg" alt="" /></a
    //   >
    // </div>
    // <div class="mr-2">
    //   <a href="" class="icon"
    //     ><img src="../assets/images/icons/twitter-grey.svg" alt="" /></a
    //   >
    // </div> -->
  </div>
</nav>
<div class="mobile-menu__overlay js-mobile__overlay bg-lightgrey"></div>
