---
import Facebook from "../../components/icons/facebook.astro";
import Instagram from "../../components/icons/instagram.astro";
import Youtube from "../../components/icons/youtube.astro";
import Twitter from "../../components/icons/twitter.astro";
import Tiktok from "../icons/tiktok.astro";
import Snapchat from "../icons/snapchat.astro";
import Linkedin from "../icons/linkedin.astro";
import Zzenz from "../icons/zzenz.astro";

export interface Props {
  name?: string;
  socialMedia?: any;
  pages?: Record<string, string>[];
  contacts?: {
    phone?: string;
    email?: string;
  } | null;
}

const { pages, socialMedia } = Astro.props;
let presentationPage;
let termsAndPolicyPages = [];
pages?.forEach((page) => {
  if (page?.page_type === "presentation") {
    presentationPage = page;
  } else if (["terms", "confidentiality"].includes(page?.page_type)) {
    termsAndPolicyPages.push(page);
  }
});
---

<footer
  class="main-footer border-top-grey bg-white position-relative z-index_2"
>
  <div class="container fs-14">
    <nav
      class="d-flex flex-column flex-md-row justify-content-between align-items-center pt-2 pb-2"
    >
      <div class="left d-flex">
        <div class="mr-3">
          <span class="text-uppercase color-light-black no-underline">
            réseaux sociaux
          </span>
        </div>
        {
          !!socialMedia?.store_facebook && (
            <div class="mr-2">
              <a
                href={socialMedia?.store_facebook}
                class="icon"
                title="facebook"
              >
                <Facebook />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_instagram && (
            <div class="mr-2">
              <a
                href={socialMedia?.store_instagram}
                class="icon"
                title="instagram"
              >
                <Instagram />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_tiktok && (
            <div class="mr-2">
              <a href={socialMedia?.store_tiktok} class="icon" title="tiktok">
                <Tiktok />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_youtube && (
            <div class="mr-2">
              <a href={socialMedia?.store_youtube} class="icon" title="youtube">
                <Youtube />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_twitter && (
            <div class="mr-2">
              <a href={socialMedia?.store_twitter} class="icon" title="twitter">
                <Twitter />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_snapchat && (
            <div class="mr-2">
              <a
                href={socialMedia?.store_snapchat}
                class="icon"
                title="snapchat"
              >
                <Snapchat />
              </a>
            </div>
          )
        }
        {
          !!socialMedia?.store_linkedin && (
            <div class="mr-2">
              <a
                href={socialMedia?.store_linkedin}
                class="icon"
                title="linkedin"
              >
                <Linkedin />
              </a>
            </div>
          )
        }
      </div>
      <div class="nav-menu__center">
        <div class="d-flex">
          <a class="nav-item nav-link color-light-black" href="/">Accueil</a>
          <a class="nav-item nav-link color-light-black" href="/shop/1/">
            Boutique
          </a>
          <a class="nav-item nav-link color-light-black" href="/contact/">
            Contact
          </a>
          {
            !!presentationPage && (
              <a
                class="nav-item nav-link color-light-black"
                href={`/${presentationPage?.slug}/`}
              >
                Présentation
              </a>
            )
          }
        </div>
        {
          termsAndPolicyPages?.length > 0 && (
            <nav class="d-flex justify-content-center align-items-center pb-2">
              <div class="d-flex">
                {termsAndPolicyPages.map((page) => (
                  <a
                    class="nav-item nav-link color-light-black"
                    href={`/${page?.slug}/`}
                  >
                    {page?.title}
                  </a>
                ))}
              </div>
            </nav>
          )
        }
      </div>
      <a href={"https://www.zzenz.com"} class="right d-flex align-items-center">
        <span class="color-light-black fs-12">{`Powred by `}</span>
        <Zzenz />
      </a>
    </nav>
  </div>
</footer>
