---
import Facebook from "../../components/icons/facebook.astro";
import Instagram from "../../components/icons/instagram.astro";
import Youtube from "../../components/icons/youtube.astro";
import Twitter from "../../components/icons/twitter.astro";
import { getStoreDetails } from "../../helpers/services/store/details";
import globalLinks from "../../config/links";
import Tiktok from "../icons/tiktok.astro";
import Snapchat from "../icons/snapchat.astro";
import Linkedin from "../icons/linkedin.astro";

const websiteDetails = await getStoreDetails(globalLinks.website);
const { store_social_media } = websiteDetails?.store_primary_settings;
---

<footer class="main-footer border-top-grey">
  <div class="container fs-14">
    <nav class="d-flex justify-content-between align-items-center pt-2 pb-2">
      <div class="left d-flex">
        <div class="mr-3">
          <a href="" class="text-uppercase color-light-black no-underline">
            réseaux sociaux
          </a>
        </div>
        {
          !!store_social_media?.store_facebook && (
            <div class="mr-2">
              <a href={store_social_media?.store_facebook} class="icon">
                <Facebook />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_instagram && (
            <div class="mr-2">
              <a href={store_social_media?.store_instagram} class="icon">
                <Instagram />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_tiktok && (
            <div class="mr-2">
              <a href={store_social_media?.store_tiktok} class="icon">
                <Tiktok />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_youtube && (
            <div class="mr-2">
              <a href={store_social_media?.store_youtube} class="icon">
                <Youtube />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_twitter && (
            <div class="mr-2">
              <a href={store_social_media?.store_twitter} class="icon">
                <Twitter />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_snapchat && (
            <div class="mr-2">
              <a href={store_social_media?.store_snapchat} class="icon">
                <Snapchat />
              </a>
            </div>
          )
        }
        {
          !!store_social_media?.store_linkedin && (
            <div class="mr-2">
              <a href={store_social_media?.store_linkedin} class="icon">
                <Linkedin />
              </a>
            </div>
          )
        }
      </div>
      <div class="nav-menu__center d-flex">
        <a class="nav-item nav-link color-light-black" href="/">Accueil</a>
        <a class="nav-item nav-link color-light-black" href="/shop/1/">
          Boutique
        </a>
        <a class="nav-item nav-link color-light-black" href="/contact/">
          Contact
        </a>
      </div>
      <div class="right d-flex align-items-center">
        <span class="color-light-black fs-12">Powred by&nbsp;</span>
        <img
          src="https://www.ghitaclothe.com/static/ce0061920b791245e16381e64ca686fb/48889/1662282780545-1cfaaab3-c10a-4e2f-9b81-228a2adec254.avif"
          alt="logo"
          height={40}
        />
      </div>
    </nav>
  </div>
</footer>
