---
import { Props as SeoProps } from "astro-seo";
import Head from "../components/head/index.astro";
import Header from "../components/header/index.astro";
import Footer from "../components/footer/index.astro";
import NavBar from "../components/navbar/index.astro";
import { getStorePages } from "../helpers/services/pages";
import getCategories from "../helpers/services/products/categories";
import { getStoreDetails } from "../helpers/services/store/details";
import { getImageLink } from "../helpers/images";

// get pages
const { pages } = await getStorePages();
// get categories
const categories = await getCategories();
// generate logo
const { store_primary_settings = {}, ...storeDetails } =
	await getStoreDetails();
const storeName =
	storeDetails?.store_build_settings?.store_domain || storeDetails?.store_name;
const store_ui = store_primary_settings?.store_ui || {};
// get contacts(email, phone)
const logoOriginalUrl = store_primary_settings?.store_ui?.store_logo;
const logoWebPUrl =
	import.meta.env.MODE === "production"
		? `${getImageLink(logoOriginalUrl)}&h=50`
		: logoOriginalUrl;
const logo = {
	src: store_primary_settings?.store_ui?.store_logo,
	webp: logoWebPUrl,
};
const contacts = {
	email: store_ui?.store_contact_email,
	phone: store_ui?.store_phone,
};
export interface Props extends SeoProps {
	image?: string;
}

const { ...seoProps } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head {...seoProps} />
	<NavBar
		pages={pages}
		categories={categories}
		logo={logo}
		contacts={contacts}
		name={storeName}
		socialMedia={store_primary_settings?.store_social_media}
	/>
	<body class="overflow-x-hidden">
		<!-- header nav -->
		<Header
			name={storeName}
			logo={logo}
			contacts={contacts}
			categories={categories}
		/>
		<!-- end of header nav -->
		<slot />
		<!-- footer -->
		<Footer />
		<!-- end footer -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
			integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>

		<!-- custom js to open mobile menu -->
		<script type="text/javascript">
			var _overlay = $(".js-mobile__overlay");
			var _openBtn = $(".js-mobile__menu-trigger");
			var _closeBtn = $(".js-mobile__menu-closer");
			var _mobileMenu = $(".js-mobile__menu");
			var _mainContainer = $(".js-main__container");
			// close menu
			function closeMenu(e) {
				e.preventDefault();
				_mobileMenu.removeClass("show");
				$("body").removeClass("overflow-hidden");
				_mainContainer.removeClass("translateX");
			}
			_openBtn.click(function (e) {
				e.preventDefault();
				_mobileMenu.addClass("show");
				$("body").addClass("overflow-hidden");
				_mainContainer.addClass("translateX");
			});
			_closeBtn.click(closeMenu);
			_overlay.click(closeMenu);
		</script>
	</body>
</html>
